@import "tailwindcss";

:root {
  --background: #f4fcff;
  --foreground: #1c3141;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4fcff;
    --foreground: #1c3141;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s forwards ease-out;
}

.animate-zoomIn {
  animation: zoomIn 0.25s forwards ease-out;
}
